<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReFrameAudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ReFrameAudio.Properties.Settings>
            <setting name="audioVolume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="appSizeHeight" serializeAs="String">
                <value>471</value>
            </setting>
            <setting name="appSizeWidth" serializeAs="String">
                <value>509</value>
            </setting>
            <setting name="appLocationX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="appLocationY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="audioRepeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="currentFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="currentFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="audioFolders" serializeAs="String">
                <value>{}</value>
            </setting>
            <setting name="lastFile" serializeAs="String">
                <value />
            </setting>
            <setting name="switchPage" serializeAs="String">
                <value>False</value>
            </setting>
        </ReFrameAudio.Properties.Settings>
    </userSettings>
</configuration>